* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000000;
  --secondary-color: #dfdff2;
  --tertiary-color: #f1ff7e;
  --border-color: #0a0d0f;
}

@font-face {
  font-family: "Z-Re";
  src: url(./assets/fonts/ZENTRY-Regular.woff2);
}

@font-face {
  font-family: "Rob-Re";
  src: url(./assets/fonts/Roobert-Regular.woff2);
}

@font-face {
  font-family: "Rob-Me";
  src: url(./assets/fonts/Roobert-Medium.woff2);
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: "DDD";
  src: url(./assets/fonts/L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2);
}

html,
body {
  min-height: 100%;
  width: 100%;
}

.navigation-main {
  padding: 0.5vw 1vw;
  background: transparent;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 3;
}

.navigation-wrap {
  background-color: #00000010;
  /* backdrop-filter: blur(40px); */
  padding: 1vw 2vw;
}

/* button Kaboom */
.btn_main__animated {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-main__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn__content-span {
  font: 800 0.65vw "Roboto";
}

.btn__content-svg {
  margin-top: 5px;
}

.navigation-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  position: relative;
  font: 900 0.72vw "Roboto";
  text-transform: uppercase;
  color: var(--secondary-color);
  padding: 0.5vw 1vw;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.3s opacity 0.3s;
  }
}

.nav-link:hover svg {
  fill: var(--primary-color);
}

.navigation__soundbar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.indictor-line {
  height: 12px;
  width: 1px;
  background: var(--secondary-color);
  animation: wave 0.8s infinite;
}

/* Adjust the animation delay for each line */
.indictor-line:nth-child(1) {
  animation-delay: 0s;
}
.indictor-line:nth-child(2) {
  animation-delay: 0.1s;
}
.indictor-line:nth-child(3) {
  animation-delay: 0.2s;
}
.indictor-line:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes wave {
  0%,
  100% {
    height: 12px; /* Original height */
  }
  50% {
    height: 20px; /* Height at peak of wave */
  }
}

.prism {
  height: 100vh;
  width: 100%;
  position: relative;
}

.prism-wrap {
  width: 100%;
  height: 100%;
}

.window-glimp {
  height: 16vw;
  width: 16vw;
  outline: 2px solid var(--primary-color);
  background-color: #00000010;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  overflow: hidden;
}

.prism-wrap .content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.prism-wrap .content .content-box {
  width: 50%;
  height: 100%;
}

.prism-wrap .content .data-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 6vw 0 0 2.5vw;
}

.prism-title {
  font-size: 12.2vw;
  font-family: "Z-Re";
  line-height: 1;
  color: var(--secondary-color);
}

.ff-prsm__setting {
  font-feature-settings: "ss01" on;
}

.prism-subtitle {
  color: var(--secondary-color);
  font-size: 1.1vw;
  font-weight: 500;
  line-height: 1.3;
  padding: 0 0 1vw 0;
  font-family: "Rob-Re";
}

.prism-wrap .content .data-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 2.5vw 1vw 0;
}

.prism-video_wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.prism-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}
